@model User
<h1>@Model.Name</h1>
<form method="post" action="/users/@Model.Id/messages">
    <label for="Content">Add a Message:</label>   <br />
    <textarea id="Content" name="Content" cols="60" rows="6" required></textarea><br />
    <button type="submit">Create Message</button>
</form>