
@model IEnumerable<User>

<p>Users List</p>

<ul>
    @foreach (var user in Model)
    {
        <li>@user.Username</li>
        <form method="get" action="/users/details/@user.Id">
            <div class="login">

                <button type="submit">Login</button>

            </div>

        </form>
    }

</ul>
<form method="get" action="/users/new">
    <div class="newbutton">

        <button type="submit">Add User</button>

    </div>

</form>