@model List<User> 

<h1>Current Active Users</h1>

@foreach(var e in Model)
{
    <h5>@e.Username</h5>
    //<form> log in
}

<h3>Don't see your account?</h3>
<form action="/users/new">
    <button type="submit">Create One!</button>
</form>