@model List<User>
<h1>Users</h1>

@foreach(var user in Model)
{
    <h6><a href="/users/@user.Id">@user.Username</a> @user.Name</h6>
}

@if(Model.Where(u => u.LoggedIn == true).Count() == 0)
{
    <p><a href="/users/new">Sign Up</a></p>
    <p><a href="/users/login">Log In</a></p>
}



