<h1>Create Your Account</h1>

<form method="post" action="/users">

    <div class="form-group">
        <label for="Name">Name: </label>
        <input type="text" id="Name" name="Name" />
    </div>

    <div class="form-group">
        <label for="Username">Username: </label>
        <input type="text" id="Username" name="Username" />
    </div>

    <div class="submitbutton">
        <button type="submit">Create Account</button>
    </div>

</form>
