<h3>Add a User</h3>

<form id="new-user-form" method="post" action="/users">
    <label for="User-Name">Name:</label>
    <input type="text" id="User-Name" name="Name">
    <br>
    <br>
    <label for="User-Username">Username:</label>
    <input type="text" id="User-Username" name="Username">
    <br>
    <br>
    <div class="submitbutton">
        <button type="submit">Add Customer</button>
    </div>

</form>