<h1>Sign Up</h1>

<form method="post" action="/users">
    <div class="form-group">
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username" />
    </div>
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" />
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input type="text" id="Password" name="Password" />
    </div>
    <div class="form-group">
        <label for="CoffeeOfChoice">Coffee of Choice:</label>
        <input type="text" id="CoffeeOfChoice" name="CoffeeOfChoice" />
    </div>
    <button type="submit">Create User</button>
</form>