@{
    bool? failedSignin = ViewData["FailedSignin"] as bool?;
}

<h1>Create Account</h1>
<form method="post" action="/users/newaccount">
    <div>
        <label for="UserName">UserName</label>
        <input type="text" id="UserName" name="UserName" />
    </div>
    <div>
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" />
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" />
    </div>
    @if(failedSignin == true)
    {
        <p class="text-danger">An account with that email address already exists</p>
    }
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
